.DS_Store
test 4.ipynb
test.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
C++/hello.cpp
C++/hello
C++/hello$
C++/opt1d2.cpp
C++/.vscode/settings.json
C++/.vscode/tasks.json
sopt/.ipynb_checkpoints/code_in_history-checkpoint.py
sopt/.ipynb_checkpoints/lib_color-checkpoint.py
sopt/.ipynb_checkpoints/lib_ot-checkpoint.py
sopt/.ipynb_checkpoints/lib_shape-checkpoint.py
sopt/.ipynb_checkpoints/library-checkpoint.py
sopt/.ipynb_checkpoints/sliced_opt-checkpoint.py
sopt/__pycache__/lib_ot.cpython-310.pyc
sopt/__pycache__/lib_ot.pot_32-1175.py310.1.nbc
sopt/__pycache__/lib_ot.pot_32-1175.py310.nbi
sopt/__pycache__/lib_ot.pot-1119.py310.1.nbc
sopt/__pycache__/lib_ot.pot-1119.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_32-320.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_32-320.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt_32-524.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt_32-524.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-423.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-423.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp-211.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp-211.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-78.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-78.py310.nbi
sopt/__pycache__/lib_ot.solve_opt_32-801.py310.1.nbc
sopt/__pycache__/lib_ot.solve_opt_32-801.py310.nbi
sopt/__pycache__/lib_ot.solve_opt-645.py310.1.nbc
sopt/__pycache__/lib_ot.solve_opt-645.py310.nbi
sopt/__pycache__/library.arange-304.py310.1.nbc
sopt/__pycache__/library.arange-304.py310.nbi
sopt/__pycache__/library.argmin_nb-106.py310.1.nbc
sopt/__pycache__/library.argmin_nb-106.py310.nbi
sopt/__pycache__/library.array_to_matrix-484.py310.1.nbc
sopt/__pycache__/library.array_to_matrix-484.py310.nbi
sopt/__pycache__/library.closest_y_M-170.py310.1.nbc
sopt/__pycache__/library.closest_y_M-170.py310.2.nbc
sopt/__pycache__/library.closest_y_M-170.py310.nbi
sopt/__pycache__/library.closest_y-148.py310.1.nbc
sopt/__pycache__/library.closest_y-148.py310.2.nbc
sopt/__pycache__/library.closest_y-148.py310.nbi
sopt/__pycache__/library.cost_function-34.py310.1.nbc
sopt/__pycache__/library.cost_function-34.py310.2.nbc
sopt/__pycache__/library.cost_function-34.py310.3.nbc
sopt/__pycache__/library.cost_function-34.py310.4.nbc
sopt/__pycache__/library.cost_function-34.py310.nbi
sopt/__pycache__/library.cost_matrix_d-124.py310.1.nbc
sopt/__pycache__/library.cost_matrix_d-124.py310.2.nbc
sopt/__pycache__/library.cost_matrix_d-124.py310.nbi
sopt/__pycache__/library.cpython-310.pyc
sopt/__pycache__/library.empty_Y_opt_32-652.py310.1.nbc
sopt/__pycache__/library.empty_Y_opt_32-652.py310.nbi
sopt/__pycache__/library.empty_Y_opt-615.py310.1.nbc
sopt/__pycache__/library.empty_Y_opt-615.py310.nbi
sopt/__pycache__/library.Gaussian_mixture_32-858.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture_32-858.py310.nbi
sopt/__pycache__/library.Gaussian_mixture-849.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture-849.py310.nbi
sopt/__pycache__/library.index_adjust-194.py310.1.nbc
sopt/__pycache__/library.index_adjust-194.py310.nbi
sopt/__pycache__/library.L_to_pi-511.py310.1.nbc
sopt/__pycache__/library.L_to_pi-511.py310.nbi
sopt/__pycache__/library.matrix_take-843.py310.1.nbc
sopt/__pycache__/library.matrix_take-843.py310.2.nbc
sopt/__pycache__/library.matrix_take-843.py310.nbi
sopt/__pycache__/library.one_x_opt_np-788.py310.1.nbc
sopt/__pycache__/library.one_x_opt_np-788.py310.nbi
sopt/__pycache__/library.one_x_opt-728.py310.1.nbc
sopt/__pycache__/library.one_x_opt-728.py310.nbi
sopt/__pycache__/library.recover_indice-426.py310.1.nbc
sopt/__pycache__/library.recover_indice-426.py310.nbi
sopt/__pycache__/library.startindex_np-265.py310.1.nbc
sopt/__pycache__/library.startindex_np-265.py310.nbi
sopt/__pycache__/library.startindex-221.py310.1.nbc
sopt/__pycache__/library.startindex-221.py310.nbi
sopt/__pycache__/library.unassign_y_nb-356.py310.1.nbc
sopt/__pycache__/library.unassign_y_nb-356.py310.nbi
sopt/__pycache__/library.unassign_y-314.py310.1.nbc
sopt/__pycache__/library.unassign_y-314.py310.nbi
C++/example.cpython-310-x86_64-linux-gnu.so
C++/test.py
