.DS_Store
/.vscode/settings.json
/.vscode/tasks.json
readme1.md 
test 4.ipynb
test.ipynb
opt1d.cpython-310-x86_64-linux-gnu.so
opt1d.so 
test.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
C++/hello.cpp
C++/hello
C++/hello$
opt1d
C++/opt1d2.cpp
C++/.vscode/settings.json
C++/.vscode/tasks.json
sopt/.ipynb_checkpoints/code_in_history-checkpoint.py
sopt/.ipynb_checkpoints/lib_color-checkpoint.py
sopt/.ipynb_checkpoints/lib_ot-checkpoint.py
sopt/.ipynb_checkpoints/lib_shape-checkpoint.py
sopt/.ipynb_checkpoints/library-checkpoint.py
sopt/.ipynb_checkpoints/sliced_opt-checkpoint.py
sopt/__pycache__/lib_ot.cpython-310.pyc
sopt/__pycache__/lib_ot.pot_32-1175.py310.1.nbc
sopt/__pycache__/lib_ot.pot_32-1175.py310.nbi
sopt/__pycache__/lib_ot.pot-1119.py310.1.nbc
sopt/__pycache__/lib_ot.pot-1119.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_32-320.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_32-320.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt_32-524.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt_32-524.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-423.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-423.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp-211.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp-211.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-78.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-78.py310.nbi
sopt/__pycache__/lib_ot.solve_opt_32-801.py310.1.nbc
sopt/__pycache__/lib_ot.solve_opt_32-801.py310.nbi
sopt/__pycache__/lib_ot.solve_opt-645.py310.1.nbc
sopt/__pycache__/lib_ot.solve_opt-645.py310.nbi
sopt/__pycache__/library.arange-304.py310.1.nbc
sopt/__pycache__/library.arange-304.py310.nbi
sopt/__pycache__/library.argmin_nb-106.py310.1.nbc
sopt/__pycache__/library.argmin_nb-106.py310.nbi
sopt/__pycache__/library.array_to_matrix-484.py310.1.nbc
sopt/__pycache__/library.array_to_matrix-484.py310.nbi
sopt/__pycache__/library.closest_y_M-170.py310.1.nbc
sopt/__pycache__/library.closest_y_M-170.py310.2.nbc
sopt/__pycache__/library.closest_y_M-170.py310.nbi
sopt/__pycache__/library.closest_y-148.py310.1.nbc
sopt/__pycache__/library.closest_y-148.py310.2.nbc
sopt/__pycache__/library.closest_y-148.py310.nbi
sopt/__pycache__/library.cost_function-34.py310.1.nbc
sopt/__pycache__/library.cost_function-34.py310.2.nbc
sopt/__pycache__/library.cost_function-34.py310.3.nbc
sopt/__pycache__/library.cost_function-34.py310.4.nbc
sopt/__pycache__/library.cost_function-34.py310.nbi
sopt/__pycache__/library.cost_matrix_d-124.py310.1.nbc
sopt/__pycache__/library.cost_matrix_d-124.py310.2.nbc
sopt/__pycache__/library.cost_matrix_d-124.py310.nbi
sopt/__pycache__/library.cpython-310.pyc
sopt/__pycache__/library.empty_Y_opt_32-652.py310.1.nbc
sopt/__pycache__/library.empty_Y_opt_32-652.py310.nbi
sopt/__pycache__/library.empty_Y_opt-615.py310.1.nbc
sopt/__pycache__/library.empty_Y_opt-615.py310.nbi
sopt/__pycache__/library.Gaussian_mixture_32-858.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture_32-858.py310.nbi
sopt/__pycache__/library.Gaussian_mixture-849.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture-849.py310.nbi
sopt/__pycache__/library.index_adjust-194.py310.1.nbc
sopt/__pycache__/library.index_adjust-194.py310.nbi
sopt/__pycache__/library.L_to_pi-511.py310.1.nbc
sopt/__pycache__/library.L_to_pi-511.py310.nbi
sopt/__pycache__/library.matrix_take-843.py310.1.nbc
sopt/__pycache__/library.matrix_take-843.py310.2.nbc
sopt/__pycache__/library.matrix_take-843.py310.nbi
sopt/__pycache__/library.one_x_opt_np-788.py310.1.nbc
sopt/__pycache__/library.one_x_opt_np-788.py310.nbi
sopt/__pycache__/library.one_x_opt-728.py310.1.nbc
sopt/__pycache__/library.one_x_opt-728.py310.nbi
sopt/__pycache__/library.recover_indice-426.py310.1.nbc
sopt/__pycache__/library.recover_indice-426.py310.nbi
sopt/__pycache__/library.startindex_np-265.py310.1.nbc
sopt/__pycache__/library.startindex_np-265.py310.nbi
sopt/__pycache__/library.startindex-221.py310.1.nbc
sopt/__pycache__/library.startindex-221.py310.nbi
sopt/__pycache__/library.unassign_y_nb-356.py310.1.nbc
sopt/__pycache__/library.unassign_y_nb-356.py310.nbi
sopt/__pycache__/library.unassign_y-314.py310.1.nbc
sopt/__pycache__/library.unassign_y-314.py310.nbi
C++/example.cpython-310-x86_64-linux-gnu.so
C++/test.py
sopt/__pycache__/lib_ot.closest_y_opt-101.py310.1.nbc
sopt/__pycache__/lib_ot.closest_y_opt-101.py310.2.nbc
sopt/__pycache__/lib_ot.closest_y_opt-101.py310.nbi
sopt/__pycache__/lib_ot.closest_y_opt-102.py310.1.nbc
sopt/__pycache__/lib_ot.closest_y_opt-102.py310.nbi
sopt/__pycache__/lib_ot.closest_y-75.py310.1.nbc
sopt/__pycache__/lib_ot.closest_y-75.py310.nbi
sopt/__pycache__/lib_ot.pot-659.py310.1.nbc
sopt/__pycache__/lib_ot.pot-659.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-511.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-511.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-512.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp_opt-512.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp-403.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp-403.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_knopp-404.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_knopp-404.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-270.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-270.py310.nbi
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-271.py310.1.nbc
sopt/__pycache__/lib_ot.sinkhorn_opt_pr-271.py310.nbi
sopt/__pycache__/lib_ot.solve_opt-720.py310.1.nbc
sopt/__pycache__/lib_ot.solve_opt-720.py310.2.nbc
sopt/__pycache__/lib_ot.solve_opt-720.py310.nbi
sopt/__pycache__/lib_ot.solve_opt-721.py310.1.nbc
sopt/__pycache__/lib_ot.solve_opt-721.py310.nbi
sopt/__pycache__/lib_ot.unassign_y-137.py310.1.nbc
sopt/__pycache__/lib_ot.unassign_y-137.py310.nbi
sopt/__pycache__/lib_ot.unassign_y-138.py310.1.nbc
sopt/__pycache__/lib_ot.unassign_y-138.py310.nbi
sopt/__pycache__/lib_shape.cpython-310.pyc
sopt/__pycache__/lib_shape.icp_du-513.py310.1.nbc
sopt/__pycache__/lib_shape.icp_du-513.py310.nbi
sopt/__pycache__/lib_shape.icp_umeyama-576.py310.1.nbc
sopt/__pycache__/lib_shape.icp_umeyama-576.py310.nbi
sopt/__pycache__/lib_shape.recover_rotation_du-296.py310.1.nbc
sopt/__pycache__/lib_shape.recover_rotation_du-296.py310.nbi
sopt/__pycache__/lib_shape.recover_rotation-264.py310.1.nbc
sopt/__pycache__/lib_shape.recover_rotation-264.py310.nbi
sopt/__pycache__/lib_shape.sopt_main-340.py310.1.nbc
sopt/__pycache__/lib_shape.sopt_main-340.py310.nbi
sopt/__pycache__/lib_shape.spot_bonneel-450.py310.1.nbc
sopt/__pycache__/lib_shape.spot_bonneel-450.py310.nbi
sopt/__pycache__/lib_shape.vec_mean-239.py310.1.nbc
sopt/__pycache__/lib_shape.vec_mean-239.py310.nbi
sopt/__pycache__/library.arange-64.py310.1.nbc
sopt/__pycache__/library.arange-64.py310.nbi
sopt/__pycache__/library.arange-67.py310.1.nbc
sopt/__pycache__/library.arange-67.py310.nbi
sopt/__pycache__/library.array_to_matrix-236.py310.1.nbc
sopt/__pycache__/library.array_to_matrix-236.py310.nbi
sopt/__pycache__/library.array_to_matrix-239.py310.1.nbc
sopt/__pycache__/library.array_to_matrix-239.py310.nbi
sopt/__pycache__/library.closest_y_M-216.py310.1.nbc
sopt/__pycache__/library.closest_y_M-216.py310.nbi
sopt/__pycache__/library.cost_matrix_d-41.py310.1.nbc
sopt/__pycache__/library.cost_matrix_d-41.py310.nbi
sopt/__pycache__/library.cost_matrix-19.py310.1.nbc
sopt/__pycache__/library.cost_matrix-19.py310.nbi
sopt/__pycache__/library.Gaussian_mixture_32-301.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture_32-301.py310.nbi
sopt/__pycache__/library.Gaussian_mixture_32-304.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture_32-304.py310.nbi
sopt/__pycache__/library.Gaussian_mixture-292.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture-292.py310.nbi
sopt/__pycache__/library.Gaussian_mixture-295.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture-295.py310.nbi
sopt/__pycache__/library.L_to_pi-263.py310.1.nbc
sopt/__pycache__/library.L_to_pi-263.py310.nbi
sopt/__pycache__/library.L_to_pi-266.py310.1.nbc
sopt/__pycache__/library.L_to_pi-266.py310.nbi
sopt/__pycache__/library.recover_indice-186.py310.1.nbc
sopt/__pycache__/library.recover_indice-186.py310.nbi
sopt/__pycache__/library.recover_indice-189.py310.1.nbc
sopt/__pycache__/library.recover_indice-189.py310.nbi
sopt/__pycache__/library.unassign_y_nb-116.py310.1.nbc
sopt/__pycache__/library.unassign_y_nb-116.py310.nbi
sopt/__pycache__/library.unassign_y_nb-119.py310.1.nbc
sopt/__pycache__/library.unassign_y_nb-119.py310.nbi
sopt/__pycache__/library.unassign_y-74.py310.1.nbc
sopt/__pycache__/library.unassign_y-74.py310.nbi
sopt/__pycache__/library.unassign_y-77.py310.1.nbc
sopt/__pycache__/library.unassign_y-77.py310.nbi
sopt/__pycache__/sliced_opt.cpython-310.pyc
sopt/__pycache__/sliced_opt.opt_plans_64-128.py310.1.nbc
sopt/__pycache__/sliced_opt.opt_plans_64-128.py310.nbi
sopt/__pycache__/sliced_opt.opt_plans-49.py310.1.nbc
sopt/__pycache__/sliced_opt.opt_plans-49.py310.nbi
sopt/__pycache__/sliced_opt.random_projections-18.py310.1.nbc
sopt/__pycache__/sliced_opt.random_projections-18.py310.nbi
sopt/__pycache__/sliced_opt.X_correspondence_pot-105.py310.1.nbc
sopt/__pycache__/sliced_opt.X_correspondence_pot-105.py310.nbi
sopt/__pycache__/sliced_opt.X_correspondence-71.py310.1.nbc
sopt/__pycache__/sliced_opt.X_correspondence-71.py310.nbi
sopt/__pycache__/lib_ot.sliced_opt-864.py310.1.nbc
sopt/__pycache__/lib_ot.sliced_opt-864.py310.nbi
sopt/__pycache__/library.arange-60.py310.1.nbc
sopt/__pycache__/library.arange-60.py310.nbi
sopt/__pycache__/library.array_to_matrix-232.py310.1.nbc
sopt/__pycache__/library.array_to_matrix-232.py310.nbi
sopt/__pycache__/library.Gaussian_mixture_32-297.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture_32-297.py310.nbi
sopt/__pycache__/library.Gaussian_mixture-288.py310.1.nbc
sopt/__pycache__/library.Gaussian_mixture-288.py310.nbi
sopt/__pycache__/library.L_to_pi-259.py310.1.nbc
sopt/__pycache__/library.L_to_pi-259.py310.nbi
sopt/__pycache__/library.recover_indice-182.py310.1.nbc
sopt/__pycache__/library.recover_indice-182.py310.nbi
sopt/__pycache__/library.unassign_y_nb-112.py310.1.nbc
sopt/__pycache__/library.unassign_y_nb-112.py310.nbi
sopt/__pycache__/library.unassign_y-70.py310.1.nbc
sopt/__pycache__/library.unassign_y-70.py310.nbi
opt.cpython-310-x86_64-linux-gnu.so
.ipynb_checkpoints/test_sliced_opt-checkpoint.ipynb
